version: '3'

services:
  fastapi-backend:
    build: 
      context: ./server
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./server/app:/server/app
    environment:
      - PYTHONUNBUFFERED=1
