name: FastAPI

on:
  push:
    branches: ["main", "server*"]
  pull_request:
    branches: ["main", "server*"]

  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
  POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}

  JWT_SECRET: ${{ secrets.JWT_SECRET }}
  JWT_ALGORITHM: ${{ secrets.JWT_ALGORITHM }}
  ACCESS_TOKEN_EXPIRE_HOURS: ${{ secrets.ACCESS_TOKEN_EXPIRE_HOURS }}

jobs:
  flake8:
    name: Code Quality
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.8
      uses: actions/setup-python@v6
      with:
        python-version: 3.13.7
    - name: Lint with flake8
      run: |
        pip install flake8 flake8-html
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        mkdir -p reports/flake8
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=79 --statistics --format=html --htmldir=reports/flake8
    - name: Archive flake8 coverage results
      uses: actions/upload-artifact@v4
      with:
        name: flake8-coverage-report
        path: ./server/reports/flake8/

  pytest:
    name: Unit Testing
    needs: flake8
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.8
      uses: actions/setup-python@v6
      with:
        python-version: 3.13
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov pytest-html pytest-sugar pytest-json-report
        py.test -v --cov --html=reports/pytest/report.html app/tests/*
    - name: Archive pytest coverage results
      uses: actions/upload-artifact@v4
      with:
        name: pytest-coverage-report
        path: reports/pytest/

  security_checks:
    needs: pytest
    runs-on: ubuntu-latest
    name: Security check
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v5
      - name: Run PyCharm Security
        uses: tonybaloney/pycharm-security@master
        with:
          path: server/

#  docker_cicd:
#    name: Build Image
#    needs: security_checks
#    runs-on: ubuntu-latest
#    defaults:
#      run:
#        working-directory: ./server
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#      - name: Build and push Docker images
#        uses: docker/build-push-action@v1
#        with:
#          username: ${{ secrets.GCR_USERNAME }}
#          password: ${{ secrets.GCR_PASSWORD }}
#          registry: ghcr.io
#          repository: alehpineda/fastapi_test
#          tags: latest
