name: Github Action AREA
run-name: ${{ github.actor }} is ${{ github.event_name }}ing on the ${{ github.ref_name }}

on:
  push:
    branches-ignore:
      - "ga-ignore-*"
  pull_request:
    branches-ignore:
      - "ga-ignore-*"

env:
  PATH_FLUTTER_APP: ./mobile/

jobs:
  flutter-test:
    name: Flutter tests and build apk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'

      - name: Install dependencies
        run: flutter pub get
        working-directory: ${{ PATH_FLUTTER_APP }}


      - name: Analyse
        run: flutter analyze
        working-directory: ${{ PATH_FLUTTER_APP }}


      - name: Run unit tests
        run: flutter test --coverage
        working-directory: ${{ PATH_FLUTTER_APP }}


      - name: Build APK (release)
        run: flutter build apk --release
        working-directory: ${{ PATH_FLUTTER_APP }}

  push_to_mirror:
    if: ${{ github.event_name == 'push'}}
    runs-on: ubuntu-latest
    name: push_to_mirror
    steps:
        - name: push_to_mirror
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - uses: pixta-dev/repository-mirroring-action@v1
          with:
            target_repo_url:
              "git@github.com:EpitechPGE3-2025/G-DEV-500-PAR-5-1-area-10.git"
            ssh_private_key:
              ${{ secrets.GIT_SSH_PRIVATE_KEY }}